.main {
	min-height: 100vh;
	flex: 1;
	display: flex;
	padding: 10px;
	flex-direction: column;
}

.user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem 0;
	width: 17em;
}

.name {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.createUser {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.create__user__btn {
	padding: 10px 0;
	background-color: blue;
	width: 8rem;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.delete__btn {
	padding: 10px 0;
	background-color: red;
	width: 8rem;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.edit__user__btn {
	cursor: pointer;
	padding: 5px;
	background-color: blue;
	width: 5rem;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.popUp {
	height: 44%;
	width: 40%;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.input__field {
	border: 1px solid #ccc;
}
